@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background:  #FE8AD0; 
            color: white; 
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
            text-align: center; 
        }

        h1 {
            font-size: 3rem;
            color: white; 
        }

        p {
            font-size: 1.2rem;
            color: white; 
            margin-bottom: 20px; 
        }

        a {
            color: 97162a /* Red */
            text-decoration: none;
        }

            a:hover {
                color: #97162a; /* Darker red */
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Student System</h1>
        <p>Our Student Management System allows you to efficiently organize and manage student data. With this system, you can add new students, edit their information, delete records, and view detailed student profiles.</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
</html
